.root {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: var(--color-surface-1);
}

.content {
  padding: 32px;
  border: 1px solid var(--color-surface-4);
  border-radius: 25px;
  background-color: var(--color-surface-1);
}

.title {
  color: var(--color-text-secondary);
}
