# Database config
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_NAME=neurobrew

# Secrets
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
