.link {
  padding: 5px 10px;
}

.link:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-surface-4);
}

.link[aria-current="page"] {
  color: var(--color-text-primary);
  background-color: var(--color-surface-4);
}
